<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Board</title>
  </head>
  <body>
    <a href="/new">Add new message &gt;</a>
    <main>
      <% messages.forEach((message) => { %>
      <article class="Board__Message">
        <p class="Message__time"><%= message.timestamp.toLocaleString() %></p>
        <p class="Message__owner"><%= message.user %></p>
        <p class="Message__text"><%= message.text %></p>
      </article>
      <% }); %>
    </main>
  </body>
</html>
